<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzl.bigtable.hos.core.authmgr.dao.ServiceAuthMapper">
  <resultMap id="ServiceAuthResultMap" type="com.wzl.bigtable.hos.core.authmgr.model.ServiceAuth">
    <result column="BUCKET_NAME" property="bucketName"/>
    <result column="TARGET_TOKEN" property="targetToken"/>
    <result column="AUTH_TIME" property="authTime"/>
  </resultMap>

</mapper>